force-app/main/default/flows/BarbackBuddy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>getCocktails</name>
        <label>Get Cocktails</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>CocktailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>calloutReturnedCocktails_decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>urlParameters</name>
            <value>
                <elementReference>urlParamsFormula</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>drinks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getDrinkDetailsById</name>
        <label>Get Drink Details by Id</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <actionName>CocktailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopThroughReturnedDrink</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>urlParameters</name>
            <value>
                <elementReference>endpointParams</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>drinksList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Add to drink choices list for selection screen for multiple drinks returned. 
Assign selected drink id, which will be used for details callout for a single drink returned or reassigned when drink is selected for multiple drinks returned.</description>
        <name>addDrinkToChoicesList</name>
        <label>Assign Drinks to Variables</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>initialDrinksLoop.strDrink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>drinkChoices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedDrink.idDrink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialDrinksLoop.idDrink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>initialDrinksLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDrinkDetailsForDisplay</name>
        <label>Assign Drink Details For Display</label>
        <locationX>270</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>drinkImageUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;img src=&quot;{!LoopThroughReturnedDrink.strDrinkThumb}&quot; alt=&quot;Italian Trulli&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drinkInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughReturnedDrink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>drinkVideo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;a href={!LoopThroughReturnedDrink.strVideo}&gt;Watch the video here!&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughReturnedDrink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDrinksCount</name>
        <label>Assign Drinks Count</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>drinkOptionsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>drinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displayDrinkSelectionScreen_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEndpointForDrinkDetailCallout</name>
        <label>Assign Endpoint for Drink Detail Callout</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>endpointParams</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/lookup.php?i={!selectedDrink.idDrink}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDrinkDetailsById</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSearchTypeFromScreenSelection</name>
        <label>Assign Search Type From Screen Selection</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>selectedSearchType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchTypeSelector</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCocktails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedDrink</name>
        <label>Assign Selected Drink</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>selectedDrink.strDrink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDrink_screenInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedDrink.idDrink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedDrink_screenInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignEndpointForDrinkDetailCallout</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>byName</name>
        <choiceText>By Cocktail Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>byName</stringValue>
        </value>
    </choices>
    <choices>
        <name>byPopular</name>
        <choiceText>Browse popular cocktails.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>byPopular</stringValue>
        </value>
    </choices>
    <choices>
        <name>byRandom</name>
        <choiceText>Surprise me!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>byRandom</stringValue>
        </value>
    </choices>
    <choices>
        <name>bySpirit</name>
        <choiceText>By Spirit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>bySpirit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gin</name>
        <choiceText>Gin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rum</name>
        <choiceText>Rum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rum</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tequila</name>
        <choiceText>Tequila</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tequila</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vodka</name>
        <choiceText>Vodka</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vodka</stringValue>
        </value>
    </choices>
    <decisions>
        <name>calloutReturnedCocktails_decision</name>
        <label>Callout Returned Cocktails</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_calloutReturnedNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>drinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_calloutReturnedCocktails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>drinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>initialDrinksLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>displayDrinkSelectionScreen_decision</name>
        <label>Display Drinks Selection Screen</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>assignEndpointForDrinkDetailCallout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_displayOptionSelectScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>drinkOptionsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectDrink_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sorry, Paul...
Sometimes I&apos;m bad at descriptions...</description>
    <dynamicChoiceSets>
        <name>drinkChoices</name>
        <collectionReference>drinks</collectionReference>
        <dataType>String</dataType>
        <displayField>strDrink</displayField>
        <object xsi:nil="true"/>
        <valueField>idDrink</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>urlParamsFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!selectedSearchType} = &apos;bySpirit&apos;, &apos;/filter.php?i=&apos;+{!selectSpirits},
IF(  ( {!selectedSearchType} = &apos;byName&apos;), &apos;/search.php?s=&apos;+{!cocktailName},
IF(  ( {!selectedSearchType} = &apos;byRandom&apos;), &apos;/random.php&apos;,
IF( ( {!selectedSearchType} = &apos;byPopular&apos;), &apos;/popular.php&apos;,
&apos;&apos; ) ) ) )</expression>
    </formulas>
    <interviewLabel>Barback Buddy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Barback Buddy</label>
    <loops>
        <name>initialDrinksLoop</name>
        <label>Loop Through Drinks</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>drinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addDrinkToChoicesList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignDrinksCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughReturnedDrink</name>
        <label>Loop through Returned Drink</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionReference>drinksList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignDrinkDetailsForDisplay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>drinkDetail_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CocktailCoPilot</name>
        <label>Cocktail Crafter</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSearchTypeFromScreenSelection</targetReference>
        </connector>
        <fields>
            <name>searchTypeSelector</name>
            <choiceReferences>byName</choiceReferences>
            <choiceReferences>byPopular</choiceReferences>
            <choiceReferences>byRandom</choiceReferences>
            <choiceReferences>bySpirit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How should we find your drink recipe?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cocktailName</name>
            <dataType>String</dataType>
            <fieldText>Cocktail Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>byName</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>selectSpirits</name>
            <choiceReferences>Vodka</choiceReferences>
            <choiceReferences>Tequila</choiceReferences>
            <choiceReferences>Rum</choiceReferences>
            <choiceReferences>Gin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Spirits</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bySpirit</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>drinkDetail_screen</name>
        <label>Drink Detail Screen</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>drinkDetail_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>drinkDetail_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>drinkDetailHeader_screen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; color: rgb(68, 68, 68);&quot;&gt;{!drinkInstance.strDrink}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!drinkDetailHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>drinkDetail_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>drinkDetail_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>chosen1</name>
                    <fieldText>&lt;p&gt;{!drinkDetail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>drinkDetail_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>image</name>
                    <fieldText>&lt;p&gt;{!drinkImage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>Error Screen</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noDrinkForYou_subtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;No drinks for you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>errorScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayedError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Dang! Something went wrong...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please return to the previous screen and change your selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>errorScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>noDrinkForYou_image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>no_drink_for_you</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>250px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectDrink_screen</name>
        <label>Select Drink</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSelectedDrink</targetReference>
        </connector>
        <fields>
            <name>selectedDrink_screenInput</name>
            <choiceReferences>drinkChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Your Poison</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CocktailCoPilot</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>drinkDetail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Let&apos;s get shakin&apos;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Serve it in your favorite {!drinkInstance.strGlass}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ingredients&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!drinkInstance.strMeasure1} {!drinkInstance.strIngredient1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure2} {!drinkInstance.strIngredient2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure3} {!drinkInstance.strIngredient3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure4} {!drinkInstance.strIngredient4}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure5} {!drinkInstance.strIngredient5}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure6} {!drinkInstance.strIngredient6}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure7} {!drinkInstance.strIngredient7}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure8} {!drinkInstance.strIngredient8}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure9} {!drinkInstance.strIngredient9}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!drinkInstance.strMeasure10} {!drinkInstance.strIngredient10}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Instructions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!drinkInstance.strInstructions}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>drinkDetailHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Order Up! One {!drinkInstance.strDrink} comin&apos; your way...&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>drinkImage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!drinkImageUrl}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Video&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!drinkVideo}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>drinkImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>drinkInstance</name>
        <apexClass>Drink</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>drinkOptionsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>drinks</name>
        <apexClass>Drink</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>drinksList</name>
        <apexClass>Drink</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>drinkVideo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://the-cocktail-db.p.rapidapi.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>endpointParams</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>initialDrinksListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedDrink</name>
        <apexClass>Drink</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSearchType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
